body {
    background-color: skyblue;
}

.center {
	text-align: center;
}

.hidden {
	display: block;
}

p.inputs {
	font-family: Impact, Charcoal, sans-serif;
	color: navy;
}

input {
	border-radius: 5px;
}

p#formName {
	font-family: Impact, Charcoal, sans-serif;
    color: navy;
    text-align: center;
    font-size: 60px
}
